
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 swarga-form">
      <h1><%= t('vehicles.new.title') %></h1>
      <span><%= link_to '< Voltar', camping_group_path(@camping_group) %></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 swarga-form">
      <%= render 'form' %>
    </div>
  </div>
</div>
