<div class="container">
  <div class="row">
    <div class="col-xs-12 header">
      <%= link_to image_tag('https://image.ibb.co/j35a4Q/logo_grande_beira_rio.png', size: '299x65'), root_path %>

      <% if user_signed_in? %>
          <div class="pull-right">
            <%= link_to :destroy_user_session, method: :delete do %>
                <i class="fa fa-sign-out fa-3x" aria-hidden="true"></i>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
